<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
  <body>
  <%- partial('_partial/header') %>
  <%- partial('_partial/jumbotron') %>
  <%- partial('_partial/cards', {
    title: __('new'),
    items: page.posts,
  }) %>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/scripts') %>
  </body>
</html>
