<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
  <body>
  <%- partial('_partial/header') %>
  <%- partial('_partial/article') %>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/scripts') %>
  </body>
</html>
